* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    position: relative;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: 0;
    background: none;
}
main {
    position: relative;
    overflow: hidden;
}
img {
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* header */

.header {
    position: relative;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
    width: 90%;
    float: right;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 200px;
    padding-right: 200px;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 18px;
}
.header-top-logo {
    cursor: pointer;
}
.header-top-connect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-top-connect-email, .header-top-connect-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-top-connect-email-img, .header-top-connect-number-img {
    width: 31px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    cursor: pointer;
}
.header-top-connect-email-img {
    padding: 9px 7px;
    margin-right: 26px;
}
.header-top-connect-number-img {
    padding: 10px 8px;
    margin-right: 18px;
}
.header-top-connect-email__desc {
    margin-top: 8px;
    margin-right: 81px;
    transition: 0.6s all ease;
    font-size: 18px;
    color: #333333;
}
.header-top-connect-number__desc {
    margin-top: 8px;
    transition: 0.6s all ease;
    font-size: 18px;
    color: #333333;
}
.header-top-connect-email__desc:hover, .header-top-connect-number__desc:hover {
    color: #2BB063;
    transition: 0.6s all ease;
}
.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.header-bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-bottom-nav__desc:not(:last-child) {
    margin-right: 67px;
}
.header-bottom-nav__desc {
    transition: 0.6s all ease;
    cursor: pointer;
    font-size: 18px;
}
.header-bottom-nav__desc:hover {
    color: #2BB063;
    transition: 0.6s all ease;
}
.header-bottom-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.header-bottom-social-vk {
    width: 30px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    padding: 8px 6px;
    cursor: pointer;
    margin-right: 18px;
}
.header-bottom-social-instagram {
    width: 30px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    padding: 9px 8px;
    cursor: pointer;
}
.header-bottom-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F5F5;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}
.header-bottom-basket__desc-value {
    color: #17A44F;
    cursor: pointer;
}

/* puzzle */

.puzzle {
    background-image: url(../img/puzzle/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
    padding-left: 200px;
}
.puzzle__title {
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 100px;
    padding-top: 160px;
}
.puzzle__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
}
.puzzle-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    margin-top: 31px;
    padding: 26px 87px 32px 88px;
    z-index: 2;
}
.puzzle-button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: -55px;
    /* right: 30px; */
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.puzzle-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.puzzle-button__desc {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}
.puzzle-bubble {
    position: absolute;
}
.bubble--leopard {
    max-width: 419px;
    max-height: 419px;
    left: 250px;
    top: 600px;
}
.bubble--bird {
    max-width: 454px;
    max-height: 454px;
    top: 530px;
    left: 10px;
}
.bubble--elephant {
    max-width: 238px;
    max-height: 238px;
    top: 250px;
    left: 10px;
}

/* bullets */

.bullets-bullet__title {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
.bullets-bullet__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-top: -10px;
}
.bullets-bullet__img--plant {
    max-width: 209px;
    margin-left: 50px;
    margin-bottom: -30px;
}
.bullets-bullet__img--shuttle {
    max-width: 119px;
    margin-left: 85px;
    margin-top: 100px;
}
.bullets-bullet__img--calipers {
    max-width: 144px;
    margin-left: 50px;
    margin-top: 80px;
}
.bullets-bullet__img--elephant {
    max-width: 175px;
    margin-left: 50px;
}

/* seldin */

.seldin {
    background-image: url(../img/seldin/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 300px;
}
.seldin-losings-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(206, 206, 206, 0.25);
    border-radius: 15px;
    max-width: 775px;
    padding: 8px;
    margin-bottom: 50px;
}
.seldin-losungs-box-statement {
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
}
.seldin-losungs-box-statement__quote--bot {
    margin-left: 70%;
}
.seldin-losungs-box-statement__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    text-transform: uppercase;
    margin-left: 55px;
    margin-top: 0px;
}
.seldin-losungs-card {
    position: relative;
    background: linear-gradient(130.21deg, rgba(255, 255, 255, 0.8) -1.26%, rgba(255, 255, 255, 0) 142.69%);
    border-radius: 10px;
    max-width: 434px;
    padding: 25px;
}
.seldin-losungs-card__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
}
.seldin-losungs-card__desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.seldin-losungs-card-cap__img {
    position: absolute;
    max-width: 271px;
    right: -100px;
    top: 70px;
    z-index: 5;
}
.seldin-photo {
    position: relative;
}
.seldin-photo__img {
    position: absolute;
    max-width: 1015px;
    bottom: -200px;
    right: -200px;
}
.seldin-air {
    position: relative;
    max-width: 1920px;
}
.seldin-air__img {
    position: absolute;
    top: -80px;
    z-index: 4;
}

/* perfect */

.perfect {
    position: relative;
    background-image: url(../img/perfect/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    /* padding-bottom: 150px; */
    z-index: 5;
}
.pecfect-flex {
    display: flex;
    flex-direction: row;
}
.perfect-flex-left-texts__title--lower {
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
}
.perfect-flex-left-texts__title--upper {
    font-weight: 800;
    font-size: 44px;
    line-height: 100%;
    text-transform: uppercase;
}
.perfect-flex-right {
    margin-top: 100px;
}
.perfect-flex-left-texts__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #5C5C5C;
    margin-bottom: 100px;
}
.perfect-flex-left-card {
    background-image: url(../img/perfect/card-bg--lower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 268px;
    padding: 40px 20px;
}
.perfect-flex-left-card--right {
    margin-left: 100px;
}
.perfect-flex-right-card {
    background-image: url(../img/perfect/card-bg--right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 268px;
    padding: 40px 20px;
}
.perfect-flex-right-card  {
    padding: 25px 20px;
    margin-left: 120px;
    margin-bottom: 40px;
}
.perfect-flex-right-card--right {
    margin-left: 270px;
}
.perfect-flex-right-card--moreright {
    margin-left: 310px;
}
.perfect-flex-right-card--bigger {
    padding: 30px 20px;
}
.perfect-flex-left-card--bigger {
    background-image: url(../img/perfect/card-bg--bigger.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px 20px;
    margin-top: 83px;
    margin-bottom: 100px;
}
.perfect-flex-left-card__desc--upper, .perfect-flex-right-card__desc--upper {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 64px;
}
.perfect-flex-right-card__desc--lower {
    margin-top: 65px;
}
.perfect-flex-left-card__desc--lower, .perfect-flex-right-card__desc--lower {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}
.perfect-box {
    position: relative;
    max-width: 973px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(206, 206, 206, 0.25);
    border-radius: 15px;
    padding: 8px;
    margin-left: 100px;
    margin-top: 250px;
    z-index: 2;
}
.perfect-box::after {
    content: "";
    position: absolute;
    width: 713px;
    z-index: 1;
    height: 363px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(223, 223, 223, 0.25);
    border-radius: 15px;
    bottom: -20px;
    left: 120px;
}
.perfect-box-act {
    position: relative;
    z-index: 2;
    max-width: 957px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 45px 45px 41px 43px;
}
.perfect-box-act__title--upper {
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 0;
}
.perfect-box-act__title--lower {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
}
.perfect-box-act__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 0;
}
.perfect-box-act__desc--margin {
    display: block;
    margin-bottom: 30px;
}
.perfect-box-act__title--lower, .perfect-box-act__desc {
    max-width: 623px;
}
.perfect-box-act-lamp {
    position: relative;
}
.perfect-box-act-lamp__img {
    position: absolute;
    max-width: 174px;
    bottom: 30px;
    right: 10px;
}

/* helper */

.helper {
    background-image: url(../img/helper/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 140px;
}
.helper__title {
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    max-width: 760px;
    margin-left: 300px;
}
.helper-card {
    background-image: url(../img/helper/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 112px 75px;
    max-width: 1170px;
}
.helper-card-top {
    margin-bottom: 180px;
    margin-top: 20px;
}
.helper-card-top, .helper-card-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.helper-card-bot {
    margin-bottom: 10px;
}
.helper-card-top-el {
    position: relative;
    max-width: 278px;
    text-align: center;
    padding: 60px 35px 5px 35px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 20px;
}
.helper-card-top-el--2 {
    padding: 60px 5px 5px 5px;
}
.helper-card-top-el__img {
    position: absolute;
    max-width: 230px;
    top: -100px;
    right: 30px;
}
.helper-card-top-el__img--2 {
    max-width: 258px;
    right: 10px;
}
.helper-card-top-el__title, .helper-card-bot-el-texts__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    color: #000000;
}
.helper-card-top-el__desc, .helper-card-bot-el-texts__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.helper-card-bot-el {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.helper-card-bot-el-texts__desc {
    text-align: left;
}
.helper-card-bot-el-texts__title {
    margin-bottom: 0;
}
.helper-card-bot-el-texts {
    max-width: 253px;
    margin-left: 30px;
}
.helper-card-bot-el__img--1 {
    max-height: 90px;
    margin-top: 35px;
}
.helper-card-bot-el__img--2 {
    max-height: 160px;
    margin-right: -30px;
}
.helper-card-bot-el__img--3 {
    max-height: 150px;
    margin-right: -10px;
}

/* choose */

.choose {
    padding-top: 100px;
}
.choose__title {
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.choose-puzzle {
    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(216, 216, 216, 0.3);
    border-radius: 20px;
    max-width: 377px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.choose-puzzle-content {
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    /* filter: drop-shadow(0px 6px 25px rgba(216, 216, 216, 0.3)); */
    border-radius: 20px;
    max-width: 357px;
    padding-top: 10px;
}
.choose-puzzle-content__img {
    max-height: 245px;
}
.choose-puzzle-content__desc {
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}
.choose-puzzle-content__price {
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    color: #000000;
}
.choose-puzzle-content__price--higher {
    text-decoration-line: line-through;
    color: #D1D1D1;
    margin-left: 5px;
}
.choose-puzzle-content-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    max-width: 248px;
    padding: 19px 37px 25px 37px;
    z-index: 2;
}
.choose-puzzle-content-button::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    display: flex;
    margin-left: -5px;
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.choose-puzzle-content-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.choose-puzzle-content-button__content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}
.choose-puzzle-content__more {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #BCBCBC;
    cursor: pointer;
}
.choose-puzzle-content__more::after {
    content: "";
    position: absolute;
    width: 100px;
    background-color: #C4C4C4;
    height: 1px;
    left: 128px;
    bottom: 0;
}
.choose-delivery {
    background-image: url(../img/choose/deliver.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 82px 85px 108px 85px;
    margin-bottom: 90px;
}
.choose-delivery__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 461px;
}
.choose-delivery__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
}
.choose-share {
    background-image: url(../img/choose/share.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 350px 0px 30px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.choose-share__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    max-width: 299px;
}
.choose-statesments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.choose-statesments-happy {
    background-image: url(../img/choose/happy-man.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 35px 77px 250px 79px;
}
.choose-statesments-production {
    background-image: url(../img/choose/jupiter.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 37px 140px 231px 24px;
}
.choose-statesments-smiles {
    background-image: url(../img/choose/happy-women.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 35px 48px 233px 50px;
}
.choose-statesments__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
}
.choose-statesments__desc {
    font-weight: normal;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
}
.choose-statesments-production__desc {
    max-width: 213px;
}
.choose-statesments-smiles__desc {
    max-width: 279px;
}

/* juridical */

.juridical {
    background-image: url(../img/juridical/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 260px;
    padding-bottom: 270px;
}
.juridical__title {
    max-width: 905px;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-transform: uppercase;
}
.juridical__desc {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
    max-width: 592px;
}
.juridical-card {
    display: flex;
    align-items: flex-end;
    max-width: 377px;
    text-align: center;
}
.juridical-card--1 {
    background-image: url(../img/juridical/first.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 169px 73px 15px 71px;
    margin-bottom: 40px;
}
.juridical-card--2 {
    background-image: url(../img/juridical/second.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 169px 73px 15px 71px;
}
.juridical-card--3 {
    background-image: url(../img/juridical/third.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 169px 85px 15px 85px;
}
.juridical-card__desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
}
.juridical__notice {
    margin-top: 160px;
    font-weight: 800;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.juridical-box {
    display: flex;
    justify-content: space-around;
}
.juridical-box-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    max-width: 512px;
    padding: 26px 32px 32px 32px;
    z-index: 2;
}
.juridical-box-button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: 15px;
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.juridical-box-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.juridical-box-button__content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

/* production */

.production {
    padding-top: 30px;
    padding-bottom: 77px;
}
.production__title {
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.production__desc {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.production-box {
    position: relative;
    box-shadow: 0px 5px 25px rgba(187, 187, 187, 0.25);
    max-width: 1170px;
    max-height: 700px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
}
.production-box::after {
    content: "";
    position: absolute;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 15px 19px rgba(216, 216, 216, 0.25);
    border-radius: 5px;
    width: 80%;
    bottom: -50px;
    right: 50px;
}
.production-unit {
    margin: 0;
    padding-top: 40px;
    padding-left: 40px;
}
.production-unit--1, .production-unit--2, .production-unit--3, .production-unit--4 {
    max-width: 390px;
}
.production-unit--1, .production-unit--2, .production-unit--3 {
    margin-bottom: -45px;
}
.production-unit--1 {
    background-image: url(../img/production/first.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 193px;
}
.production-unit--2 {
    background-image: url(../img/production/second.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 202px;
}
.production-unit--3 {
    background-image: url(../img/production/third.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 134px;
}
.production-unit--4 {
    background-image: url(../img/production/fourth.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 175px;
}
.production-unit--5 {
    background-image: url(../img/production/fifth.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-left: 430px;
    padding-bottom: 193px;
    padding-right: 21px;
    max-width: 780px;
}
.production-unit__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
}
.production-unit__desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.production-buttons {
    display: flex;
    flex-flow: row wrap;
    max-width: 1170px;
    justify-content: space-between;
}
.production-button {
    max-width: 377px;
    background: #E2E2E2;
    border-radius: 10px;
    cursor: pointer;
}
.production-button--1 {
    padding: 26px 56px 32px 55px;
}
.production-button--3 {
    padding: 26px 35px 32px 34px;
}
.production-button__content {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.production-button--active {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    max-width: 377px;
    padding: 26px 114px 32px 115px;
    z-index: 2;
}
.production-button--active::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 80%;
    display: flex;
    margin-left: -55px;
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.production-button--active:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.production-button--active__content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

/* owner */

.owner {
    position: relative;
    background-image: url(../img/owner/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 250px;
}
.owner__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 420px;
}
.owner__desc {
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    max-width: 370px;
    margin-bottom: 245px;
}
.owner-air {
    position: absolute;
    background-image: url(../img/owner/air.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* max-width: 425px; */
    padding: 82px 40px 65px 78px;
    right: 400px;
    top: 350px;
}
.owner-air__desc {
    font-weight: 800;
    font-size: 21px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    max-width: 305px;
}
.owner-box {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 100px;
}
.owner-box-card {
    position: relative;
}
.owner-box-card--1, .owner-box-card--3 {
    background: linear-gradient(190.46deg, #A8D0DD 5.64%, #BDEAED 95.18%);
    border-radius: 15px;
    max-width: 377px;
    max-height: 259px;
    margin-bottom: 25px;
}
.owner-box-card--1 {
    padding: 35px 32px 82px 30px;
    margin-right: 20px;
}
.owner-box-card--1::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 25px;
    background-image: url(../img/owner/01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: right;
    color: #FFFFFF;
    bottom: 0;
    right: 20px;
}
.owner-box-card--2 {
    max-width: 377px;
    background: linear-gradient(144.29deg, #FFCA64 8.5%, #FEE088 79.09%);
    border-radius: 15px;
    margin-right: 20px;
    max-height: 259px;
    padding: 35px 4px 40px 30px;
}
.owner-box-card--2::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 25px;
    background-image: url(../img/owner/02.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: right;
    color: #FFFFFF;
    bottom: 0;
    right: 20px;
}
.owner-box-card--3 {
    padding: 35px 32px 82px 30px;
}
.owner-box-card--3::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 25px;
    background-image: url(../img/owner/03.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: right;
    color: #FFFFFF;
    bottom: 0;
    right: 20px;
}
.owner-box-card--4 {
    max-width: 576px;
    background: linear-gradient(144.29deg, #FFCA64 8.5%, #FEE088 79.09%);
    border-radius: 15px;
    margin-right: 20px;
    max-height: 260px;
    padding: 35px 32px 82px 30px;
}
.owner-box-card--4::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 25px;
    background-image: url(../img/owner/04.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: right;
    color: #FFFFFF;
    bottom: 0;
    right: 20px;
}
.owner-box-card--5 {
    max-width: 575px;
    background: linear-gradient(190.46deg, #A8D0DD 5.64%, #BDEAED 95.18%);
    border-radius: 15px;
    max-height: 260px;
    padding: 35px 32px 82px 30px;
}
.owner-box-card--5::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 25px;
    background-image: url(../img/owner/05.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: right;
    color: #FFFFFF;
    bottom: 0;
    right: 20px;
}
.owner-box-card__title {
    font-weight: 800;
    font-size: 23px;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 0;
}
.owner-box-card__desc  {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.owner-cover {
    display: flex;
    justify-content: center;
}
.owner-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    max-width: 377px;
    padding: 26px 74px 32px 75px;
    z-index: 2;
    margin-left: -100px;
}
.owner-button::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 80%;
    display: flex;
    margin-left: -55px;
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.owner-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.owner-button__content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

/* assistants */

.assistants {
    background-image: url(../img/assistants/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 67px;
    padding-bottom: 308px;
}
.assistants__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 540px;
    margin-top: 0;
}
.assistants-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.assistants-cards-card {
    background: linear-gradient(114.28deg, #FFFFFF 4.24%, rgba(255, 255, 255, 0.634) 278.91%, rgba(255, 255, 255, 0) 364.83%);
    border-radius: 10px;
    padding: 25px;
    max-width: 428px;
    max-height: 192px;
}
.assistants-cards-card--1 {
    max-height: 140px;
}
.assistants-cards-card__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    margin-top: 0;
}

/* reviews */

.reviews {
    position: relative;
    background-image: url(../img/reviews/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 354px;
    padding-bottom: 305px;
}
.reviews__title {
    margin-top: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 108px;
}
.reviews-slider {
    position: relative;
}
.reviews-slider-arrowPrev {
    position: absolute;
    left: -80px;
    top: 45%;
}
.reviews-slider-arrowNext {
    position: absolute;
    right: -80px;
    top: 45%;
}
.slick-list {
    height: 550px;
    /* max-width: 1060px; */
}
.reviews-slider-slide:not(.slick-active) {
    opacity: 0;
}
.reviews-slider-slide {
    transition: all ease 0.6s;
    transform: translateY(50px);
}
.reviews-slider-slide-box {
    position: relative;
    max-width: 310px;
    max-height: 460px;
    background-color: #fff;
    box-shadow: 0px 6px 25px rgba(11, 150, 66, 0.6);
    border-radius: 20px;
    padding: 10px;
    z-index: 2;
}
.reviews-slider-slide-box-content {
    position: relative;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    filter: drop-shadow(0px 6px 25px rgba(216, 216, 216, 0.3));
    border-radius: 20px;
    padding: 35px 13px 40px 20px;
}
.reviews-slider-slide-box-content-person {
    display: flex;
    flex-direction: row;
}
.reviews-slider-slide-box-content__img {
    max-height: 70px;
    margin-right: 20px;
}
.reviews-slider-slide-box-content-name__name {
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 11px;
}
.reviews-slider-slide-box-content-name-score__img {
    max-height: 12px;
}
.reviews-slider-slide-box-content__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 26px;
}
.reviews-slider-slide-box-content__more {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #BCBCBC;
    cursor: pointer;
}
.reviews-slider-slide-box-content__more::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #C4C4C4;
    height: 1px;
    left: 0;
    bottom: -2px;

}
.reviews-slider-arrowPrev, .reviews-slider-arrowNext {
    cursor: pointer;
}
.slick-center {
    transform: translateY(0px);
}
.reviews-slider-slide-shadow {
    margin: 50px 0px 0px 80px;
    display: flex;
}
.reviews-slider-slide-shadow__img {
    max-width: 170px;
}

/* age */

.age {
    position: relative;
    padding-bottom: 420px;
}
.age-box {
    max-width: 1171px;
    max-height: 454px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(206, 206, 206, 0.25);
    border-radius: 15px;
    padding: 8px 14px 7px 14px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.age-box-content {
    display: flex;
    flex-direction: row;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 40px 45px;
}
.age-box-content-texts {
    position: relative;
    margin-right: 20px;
}
.age-box-content-texts__title--upper {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-transform: uppercase;
    color: #333333;
    max-width: 520px;
}
.age-box-content-texts__title--lower {
    font-weight: 800;
    font-size: 23px;
    line-height: 130%;
    text-transform: uppercase;
    color: #333333;
}
.age-box-content-texts__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    max-width: 315px;
}
.age-box-content-texts__img {
    position: absolute;
    left: 220px;
    bottom: -15px;
}
.age-box-content-video {
    position: relative;
    max-width: 458px;
    max-height: 350px;
}
.age-box-content-video__video {
    position: relative;
    max-width: 458px;
    max-height: 350px;
    border-radius: 20px;
    margin-bottom: 35px;
    transition: all ease 0.6s;
}
.age-box-content-video__img {
    position: relative;
    max-width: 458px;
    max-height: 350px;
    transition: all ease 0.6s;
}
.age-box-content-video__video--none {
    position: absolute;
    opacity: 0;
    transition: all ease 0.6s;
}

.age-box-content-video-play {
    position: absolute;
    left: 160px;
    top: 120px;
    cursor: pointer;
    transition: all ease 0.6s;
}
.age-box-content-video-play__img {
    max-width: 114px;
}
.age-discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 105px;
}
.age-discount-content__title {
    max-width: 508px;
    font-weight: 400;
    font-size: 41px;
    line-height: 130%;
    text-transform: uppercase;
    color: #333333;
}
.age-discount-content__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #333333;
}
.age-discount-content-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    max-width: 350px;
    padding: 26px 105px 32px 105px;
    z-index: 2;
}
.age-discount-content-button::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 80%;
    display: flex;
    margin-left: -55px;
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.age-discount-content-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.age-discount-content-button__content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}
.age-instagram__img {
    position: absolute;
    max-width: 373px;
    right: 0;
    top: 350px;
}
.age-bottom__img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
}

/* questions */

.questions {
    background-color: #F0F3F8;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 200px;
}
.questions__title--upper {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.questions__title--lower {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.questions__title--lower--call {
    position: relative;
    color: #109A47;
    font-weight: 800;
}
.questions__title--lower--call::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #109A47;
    height: 2px;
    left: 0;
    bottom: -4px;
    transition: all ease 0.6s;
}
.questions__title--lower--call:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #109A47;
    height: 2px;
    left: 0;
    bottom: -4px;
    transition: all ease 0.6s;
    opacity: 0;
}
.questions-list {
    margin-top: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 40px;
}
.questions-list-item {
    position: relative;
    padding: 40px;
    transition: all ease 0.6s;
}
.questions-list-item--closed {
    max-height: 100px;
    transition: all ease 0.6s;
}
.questions-list-item-active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    top: 130px;
    left: 0;
} 
.questions-list-item-marks {
    position: absolute;
    cursor: pointer;
    right: 60px;
    top: 60px;
    width: 21px;
    height: 21px;
    z-index: 10;
}
.questions-list-item-marks__horisontal {
    width: 21px;
    height: 2px;
    background-color: #C4C4C4;
    transition: all ease 0.6s;
    border-radius: 2px;
}
.questions-list-item-marks__vertical {
    width: 2px;
    height: 21px;
    background-color: #C4C4C4;
    transition: all ease 0.6s;
    transform: translate(10px, 11px);
    border-radius: 2px;
}
.questions-list-item-marks__vertical--none {
    opacity: 0;
}
.questions-list-item__title {
    position: relative;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #333333;
    padding-bottom: 40px;
}
.questions-list-item__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #333333;
    transition: all ease 0.4s;
}
.questions-list-item__desc:not(:last-child) {
    margin-bottom: 40px;
}
.questions-list-item__desc:last-child {
    margin-bottom: 0;
}
.questions-list-item__desc:first-child {
    padding-top: 40px;
}
.questions-list-item__desc--closed {
    opacity: 0;
    transition: all ease 0.6s;
    margin-top: 0;
    margin-bottom: 0;
}

/* footer */

