* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    position: relative;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: 0;
    background: none;
}
main {
    position: relative;
    overflow: hidden;
}
img {
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* header */

.header {
    position: relative;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
    width: 90%;
    float: right;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 200px;
    padding-right: 200px;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 18px;
}
.header-top-logo {
    cursor: pointer;
}
.header-top-connect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-top-connect-email, .header-top-connect-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-top-connect-email-img, .header-top-connect-number-img {
    width: 31px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    cursor: pointer;
}
.header-top-connect-email-img {
    padding: 9px 7px;
    margin-right: 26px;
}
.header-top-connect-number-img {
    padding: 10px 8px;
    margin-right: 18px;
}
.header-top-connect-email__desc {
    margin-top: 8px;
    margin-right: 81px;
    transition: 0.6s all ease;
    font-size: 18px;
    color: #333333;
}
.header-top-connect-number__desc {
    margin-top: 8px;
    transition: 0.6s all ease;
    font-size: 18px;
    color: #333333;
}
.header-top-connect-email__desc:hover, .header-top-connect-number__desc:hover {
    color: #2BB063;
    transition: 0.6s all ease;
}
.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.header-bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-bottom-nav__desc:not(:last-child) {
    margin-right: 67px;
}
.header-bottom-nav__desc {
    transition: 0.6s all ease;
    cursor: pointer;
    font-size: 18px;
}
.header-bottom-nav__desc:hover {
    color: #2BB063;
    transition: 0.6s all ease;
}
.header-bottom-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.header-bottom-social-vk {
    width: 30px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    padding: 8px 6px;
    cursor: pointer;
    margin-right: 18px;
}
.header-bottom-social-instagram {
    width: 30px;
    height: 34px;
    background: #2BB063;
    border-radius: 3px;
    padding: 9px 8px;
    cursor: pointer;
}
.header-bottom-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F5F5;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}
.header-bottom-basket__desc-value {
    color: #17A44F;
    cursor: pointer;
}

/* puzzle */

.puzzle {
    background-image: url(../img/puzzle/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
    padding-left: 200px;
}
.puzzle__title {
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 100px;
    padding-top: 160px;
}
.puzzle__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
}
.puzzle-button {
    position: relative;
    background: linear-gradient(181.45deg, #18D262 9.41%, #109A47 99.02%);
    box-shadow: inset 0px 2px 0px #0BC154, inset 0px -3px 0px #058F3D;
    border-radius: 10px;
    margin-top: 31px;
    padding: 26px 87px 32px 88px;
    z-index: 2;
}
.puzzle-button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: -55px;
    /* right: 30px; */
    top: 20px;
    background: linear-gradient(181.45deg, rgba(24, 210, 98, 0.5) 9.41%, rgba(16, 154, 71, 0.5) 99.02%);
    filter: blur(30px);
    border-radius: 10px;
    transition: 0.6s all ease;
}
.puzzle-button:hover:after {
    content: "";
    transition: 0.6s all ease;
    opacity: 0;
}
.puzzle-button__desc {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}
.puzzle-bubble {
    position: absolute;
}
.bubble--leopard {
    max-width: 419px;
    max-height: 419px;
    left: 250px;
    top: 600px;
}
.bubble--bird {
    max-width: 454px;
    max-height: 454px;
    top: 530px;
    left: 10px;
}
.bubble--elephant {
    max-width: 238px;
    max-height: 238px;
    top: 250px;
    left: 10px;
}

/* bullets */

.bullets-bullet__title {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
.bullets-bullet__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-top: -10px;
}
.bullets-bullet__img--plant {
    max-width: 209px;
    margin-left: 50px;
    margin-bottom: -30px;
}
.bullets-bullet__img--shuttle {
    max-width: 119px;
    margin-left: 85px;
    margin-top: 100px;
}
.bullets-bullet__img--calipers {
    max-width: 144px;
    margin-left: 50px;
    margin-top: 80px;
}
.bullets-bullet__img--elephant {
    max-width: 175px;
    margin-left: 50px;
}

/* seldin */

.seldin {
    background-image: url(../img/seldin/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 300px;
}
.seldin-losings-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(206, 206, 206, 0.25);
    border-radius: 15px;
    max-width: 775px;
    padding: 8px;
    margin-bottom: 50px;
}
.seldin-losungs-box-statement {
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
}
.seldin-losungs-box-statement__quote--bot {
    margin-left: 70%;
}
.seldin-losungs-box-statement__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    text-transform: uppercase;
    margin-left: 55px;
    margin-top: 0px;
}
.seldin-losungs-card {
    position: relative;
    background: linear-gradient(130.21deg, rgba(255, 255, 255, 0.8) -1.26%, rgba(255, 255, 255, 0) 142.69%);
    border-radius: 10px;
    max-width: 434px;
    padding: 25px;
}
.seldin-losungs-card__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
}
.seldin-losungs-card__desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.seldin-losungs-card-cap__img {
    position: absolute;
    max-width: 271px;
    right: -100px;
    top: 70px;
    z-index: 5;
}
.seldin-photo {
    position: relative;
}
.seldin-photo__img {
    position: absolute;
    max-width: 1015px;
    bottom: -200px;
    right: -200px;
}
.seldin-air {
    position: relative;
    max-width: 1920px;
}
.seldin-air__img {
    position: absolute;
    top: -80px;
    z-index: 4;
}

/* perfect */

.perfect {
    position: relative;
    background-image: url(../img/perfect/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    /* padding-bottom: 150px; */
    z-index: 5;
}
.pecfect-flex {
    display: flex;
    flex-direction: row;
}
.perfect-flex-left-texts__title--lower {
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
}
.perfect-flex-left-texts__title--upper {
    font-weight: 800;
    font-size: 44px;
    line-height: 100%;
    text-transform: uppercase;
}
.perfect-flex-right {
    margin-top: 100px;
}
.perfect-flex-left-texts__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #5C5C5C;
    margin-bottom: 100px;
}
.perfect-flex-left-card {
    background-image: url(../img/perfect/card-bg--lower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 268px;
    padding: 40px 20px;
}
.perfect-flex-left-card--right {
    margin-left: 100px;
}
.perfect-flex-right-card {
    background-image: url(../img/perfect/card-bg--right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 268px;
    padding: 40px 20px;
}
.perfect-flex-right-card  {
    padding: 25px 20px;
    margin-left: 120px;
    margin-bottom: 40px;
}
.perfect-flex-right-card--right {
    margin-left: 270px;
}
.perfect-flex-right-card--moreright {
    margin-left: 310px;
}
.perfect-flex-right-card--bigger {
    padding: 30px 20px;
}
.perfect-flex-left-card--bigger {
    background-image: url(../img/perfect/card-bg--bigger.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px 20px;
    margin-top: 83px;
    margin-bottom: 100px;
}
.perfect-flex-left-card__desc--upper, .perfect-flex-right-card__desc--upper {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 64px;
}
.perfect-flex-right-card__desc--lower {
    margin-top: 65px;
}
.perfect-flex-left-card__desc--lower, .perfect-flex-right-card__desc--lower {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}
.perfect-box {
    position: relative;
    max-width: 973px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(206, 206, 206, 0.25);
    border-radius: 15px;
    padding: 8px;
    margin-left: 100px;
    margin-top: 250px;
    z-index: 2;
}
.perfect-box::after {
    content: "";
    position: absolute;
    width: 713px;
    z-index: 1;
    height: 363px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(223, 223, 223, 0.25);
    border-radius: 15px;
    bottom: -20px;
    left: 120px;
}
.perfect-box-act {
    position: relative;
    z-index: 2;
    max-width: 957px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 45px 45px 41px 43px;
}
.perfect-box-act__title--upper {
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 0;
}
.perfect-box-act__title--lower {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
}
.perfect-box-act__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 0;
}
.perfect-box-act__desc--margin {
    display: block;
    margin-bottom: 30px;
}
.perfect-box-act__title--lower, .perfect-box-act__desc {
    max-width: 623px;
}
.perfect-box-act-lamp {
    position: relative;
}
.perfect-box-act-lamp__img {
    position: absolute;
    max-width: 174px;
    bottom: 30px;
    right: 10px;
}

/* helper */

.helper {
    background-image: url(../img/helper/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 140px;
}
.helper__title {
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    max-width: 760px;
    margin-left: 300px;
}
.helper-card {
    background-image: url(../img/helper/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 112px 75px;
    max-width: 1170px;
}
.helper-card-top {
    margin-bottom: 180px;
    margin-top: 20px;
}
.helper-card-top, .helper-card-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.helper-card-bot {
    margin-bottom: 10px;
}
.helper-card-top-el {
    position: relative;
    max-width: 278px;
    text-align: center;
    padding: 60px 35px 5px 35px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 20px;
}
.helper-card-top-el--2 {
    padding: 60px 5px 5px 5px;
}
.helper-card-top-el__img {
    position: absolute;
    max-width: 230px;
    top: -100px;
    right: 30px;
}
.helper-card-top-el__img--2 {
    max-width: 258px;
    right: 10px;
}
.helper-card-top-el__title, .helper-card-bot-el-texts__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    color: #000000;
}
.helper-card-top-el__desc, .helper-card-bot-el-texts__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.helper-card-bot-el {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.helper-card-bot-el-texts__desc {
    text-align: left;
}
.helper-card-bot-el-texts__title {
    margin-bottom: 0;
}
.helper-card-bot-el-texts {
    max-width: 253px;
    margin-left: 30px;
}
.helper-card-bot-el__img--1 {
    max-height: 90px;
    margin-top: 35px;
}
.helper-card-bot-el__img--2 {
    max-height: 160px;
    margin-right: -30px;
}
.helper-card-bot-el__img--3 {
    max-height: 150px;
    margin-right: -10px;
}